# TODO: Configurar pasarela de pago (Stripe)
# VITE_STRIPE_PUBLIC_KEY=pk_live_xxxxxxxxxxxx

# TODO: URL del backend para procesar pedidos
# VITE_API_URL=https://api.melodyofus.com

# TODO: EmailJS o similar para confirmaciones de pedido
# VITE_EMAILJS_SERVICE_ID=service_xxxxxxx
# VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxx
# VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxx